PACKAGE_NAME="__PACKAGE__"
PACKAGE_VERSION="__VERSION__"
CLEAN="make -C src clean"
MAKE[0]="KVERSION=$kernelver BUILD_KERNEL=$kernelver make -C src"
BUILT_MODULE_NAME[0]="__PACKAGE__"
BUILT_MODULE_LOCATION[0]="src"
DEST_MODULE_LOCATION[0]="/updates"
AUTOINSTALL="yes"
